*.csproj
*.sln
*.userprefs
Builds/
Library/
obj/
Temp/
QCAR/
.vscode/
ServerData/
Logs/
.vs/
*.vsconfig
UserSettings/AndroidLogcatSettings.asset
UserSettings/
ProjectSettings/ProjectVersion.txt
Assets/AddressableAssetsData/Android/addressables_content_state.bin
.utmp/
mono_crash.*
.idea/
*.user
Assets/GeneratedLocalRepo/